
/* red - e63946 */


body{
    background-color:#f1faee;
}

.card-flex{
    display: flex;
}

.date, .profile{
    margin-left: 1rem;
}



/* h5 a{
    color:black !important;
} */

.fa.fa-comment{
    color:grey;
    font-size:1.5rem;
}

.heading{
    background-color:#e63946;
    color:white;
}

.btn-red{
    background-color:#e63946 !important;
    color:white;
}