{% extends 'base.html' %}

{% block title %} QnA | {{q.title}} {% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid pt-5">


<div class="row mt-5">
    <div class="col-md-6 mx-auto">
      <div class="card">
          <div class="card-body">
             
 <h5>{{q.title}}</h5>
 <p>{{q.details}}</p>
 <hr>
<h3>Answers - {{q.answers_que.count}}</h3> 
<hr>
{% if not q.answers_que.all %}
<p>No answers yet... </p>
<a href="{% url 'answer-form' q.slug q.id %}">Add One</a>
{% else %}
  
{% for answer in q.answers_que.all %}
<h6>{{answer.user.first_name}} {{answer.user.last_name}}</h6>
<p>{{answer.body}} </p>





<hr>

{% endfor %}
<br>
<a href="{% url 'answer-form' q.slug q.id %}">Add answer</a>


{% endif %}
          </div>
      </div>
  </div>
</div>
</div>


</div>

{% endblock %}