{% extends 'base.html' %}

{% block title %}QnA | Home{% endblock%}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid">

    <div class="container-fluid mt-5">
        {% for q in questions %}
        <div class="row mb-4">
            <div class="col-md-6 mx-auto col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <small>{{q.user.first_name}} {{q.user.last_name}}</small>
                            <small class="ml-2 text-align-right">{{q.created }}</small>
                        </div>

                        <br>
                        <h6><a href="/details/{{q.slug}}/{{q.id}}">{{q.title}}</a></h6>

                        <p>{{ q.details }}</p>

                        <div class="d-flex">

                            {% if request.user.is_authenticated %}
                            <form action="{% url 'like-question' %}" method="POST">
                                {% csrf_token %}
                                {% if user not in q.likes.all %}
                                <button class="btn btn-sm btn-primary" value="{{q.id}}" name="question_id"><i
                                        class="fa fa-thumbs-up">

                                        {% else %}
                                        <button class="btn btn-sm btn-danger" value="{{q.id}}" name="question_id"><i
                                                class="fa fa-thumbs-up">
                                                {% endif %}

                                            </i></button><strong class="ml-2">{{q.likes.all.count}} likes</strong>

                            </form>
                            {% else %}
                            <p><a href="{% url 'login' %}">Login</a> to like</p>
                            
                            {% endif %}

                            <p class="ml-3"><a href="{% url 'answer-form' q.slug q.id   %}"><i class="fa fa-comment "></i></a></p>
                            <strong class="ml-2">{{q.answers_que.count}}</strong>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>








    {% endblock %}