{% extends 'base.html' %}
{% block title %}QnA | Ask Question{% endblock %}
{% load crispy_forms_tags %}
{%  block content %}
{% include 'navbar.html' %}


<div class="row mt-5">
    <div class="col-md-6 mx-auto">
      <div class="card">
          <div class="card-body">
              <h6 class="text-secondary">{{ user.first_name }} {{ user.last_name }}</h6>
      
           
             You have asked <strong>{{questions.count}}</strong>  questions, given <strong>{{answers.count}}</strong> answers, and 
              liked 
              
              <strong>{{ user.likes.count  }}</strong>  questions
        
          </div>

          
      </div>
  </div>
</div>


</div>


{% endblock %}




