
/* red - e63946 */


body{
    background-color:#f1faee;
    overflow-x: hidden;
}

.card-flex{
    display: flex;
}

.date, .profile{
    margin-left: 1rem;
}



.profile-container{
    display:flex;
    justify-content:safe ;
}

.user-info{
    margin-left:2rem;

}

.img-profile{
    height:170px;
    width:170px;
    border-radius: 100%;
}

.img-profile-home{
    height:70px;
    width:70px;
    border-radius: 100%;
}
.fa.fa-comment{
    color:grey;
    font-size:1.5rem;
}

.heading{
    background-color:#e63946;
    color:white;
}

.btn-red{
    background-color:#e63946 !important;
    color:white;
}



@media screen and (max-width:560px){
    .img-profile{
        height:85px;
        width:85px;
        border-radius: 100%;
    }
}